body, table {
    font-family: Verdana, Arial, Helvetica;
    font-size: 12px;
}
body {
    margin: 0;
    padding: 0;
    min-height: 100%;
}

a {
    text-decoration: none;
}

#layout_wrapper {
    width: 1000px;
    margin: 20px auto;
    padding: 20px;
    min-height: 100%;
    background-color: #c4c7bf;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #ddd;
}

h1#banner {
    width: 1000px;
    height: 284px;
    background-image: url('banner.jpg');
    margin: 0 0 20px 0;
}
h1#banner span {
    display: none;
}

ul#menu {
    padding: 10px;
    background-color: #eee;
}

ul#menu li {
    list-style-type: none;
    display: inline;
}
ul#menu li:before {
    content: ' - ';
}

.col25 {
    width: 24%;
    margin-right: 1%;
    float: left;
}
.col50 {
    width: 49%;
    margin-right: 1%;
    float: left;
}
.col75 {
    width: 74%;
    margin-right: 1%;
    float: left;
}
.col_clear {
    font-size: 1px;
    line-height: 1px;
    clear: both;
}

th {
    text-align: left;
    padding: 5px;
}
td {
    padding: 5px;
}

ul.actions {
    padding: 0;
    margin: 0;
}
ul.actions li {
    list-style-type: none;
    border-top: 1px solid #CCCCCC;
    background-color: #fff;
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ie-box-sizing: border-box;
}

h3.actionsHeader,
h3.formHeader,
h3.infoHeader,
table.info th.infoHeader {
    text-align: center;
    width: 100%;
    background-color: #9db073;
    color: #FFFFFF;
    padding: 5px 0;
    margin: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ie-box-sizing: border-box;
}

table.info {
    background-color: #FFFFFF;
    border: 0;
    border-collapse: collapse;
    width: 100%;
    margin: 0 0 20px 0;
}

h2.info {
    width: 980px;
    background-color: #FFFFFF;
    text-align: center;
    padding: 10px;
    font-size: 2em;
}

.info th {
    background-color: #4444FF;
    text-align: center;
    padding: 5px;
    color: #FFFFFF;
}

.info td {
    vertical-align: top;
}

.info td {
    border-top: 1px solid #CCCCCC;
}

form {
    padding: 0;
    margin: 0 0 20px 0;
}

form .field {
    clear: both;
    padding: 10px 0;
    width: 100%;
    background-color: #fff;
    border-top: 1px solid #CCCCCC;
}

form .field label {
    width: 190px;
    float: left;
    padding-left: 10px;
    font-weight: bold;
}

form .field .element {
    float: left;
}
form .field .element input,
form .field .element textarea {
    width: 400px;
}

form .field .end {
    font-size: 1px;
    line-height: 1px;
    clear: both;
}

form .button {
    clear: both;
    width: 100%;
    background-color: #fff;
    border-top: 1px solid #CCCCCC;
    padding: 5px 0;
}
form .button button {
    margin-left: 200px;
}

/* colors */

.black  {
    color: #000;
}

.dark_blue  {
    color: #00A;
}

.dark_green  {
    color: #0A0;
}

.dark_aqua  {
    color: #0AA;
}

.dark_red  {
    color: #A00;
}

.dark_purple  {
    color: #A0A;
}

.gold  {
    color: #FA0;
}

.gray  {
    color: #AAA;
}

.dark_gray  {
    color: #555;
}

.blue  {
    color: #55F;
}

.green  {
    color: #5F5;
}

.aqua  {
    color: #5FF;
}

.red  {
    color: #F55;
}

.light_purple  {
    color: #F5F;
}

.yellow  {
    color: #bb2;
}

/* Need to change the actual color of 'white' to black so it shows up on the screen */
.white  {
    color: #000;
}
